-# Main Navigation

%nav#topnav{style: "background: url('{{ TimberImage(post.header_banner) }}') no-repeat top;"}
  .row
    .medium-12.columns
      .homenav
        %ul.menu
          {% for item in topnav.get_items %}
            %li{class: "{{item.classes | join(' ')}}"}
              %a{href: "{{item.link}}"}
                {{item.title}}
          {% endfor %}
    .medium-12.columns
      .medium.middle
        .homeimg
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210.97 264.49"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="21.12 230.81 0 230.81 0 0 96.8 117.49 179.77 22.55 195.67 36.45 96.33 150.13 21.12 58.84 21.12 230.81"/><polygon class="cls-1" points="118.54 264.49 103.25 249.92 189.85 159.11 189.85 104.4 120.81 182.78 104.97 168.82 210.97 48.48 210.97 167.57 118.54 264.49"/></g></g></svg>

          {% if post.tagline %}
            %h2 {{post.tagline}}
          {% endif %}


-# %nav#topnav
-#   .row{data-equalizer: "topnav"}
-#     {% if post.id != 'post.home' %}
-#       -# .small-6.medium-6.columns{data-equalizer-watch: "topnav"}
-#       -#   .logo
-#       -#     %a{href: "{{site.url}}"}
-#       -#       %img{src: "{{site.theme.link}}/assets/img/logo-jm2.svg"}
-#
-#       .medium-12.columns{data-equalizer-watch: "topnav"}
-#         %ul.menu
-#           {% for item in topnav.get_items %}
-#             %li{class: "{{item.classes | join(' ')}}"}
-#               %a{href: "{{item.link}}"}
-#                 {{item.title}}
-#           {% endfor %}
-#     {% elseif post.id == 'post.contact'  %}
-#
-#       sdfsdf
-#     {% endif %}

-# %pre {{dump(post)}}
