-# Main Navigation

%nav#topnav.fadeInDown.animated{style: "background: url('{{ TimberImage(post.header_banner) }}') no-repeat top;"}
  .row.expanded.columns
    .homenav
      %ul.menu
        {% for item in topnav.get_items %}
          %li{class: "{{item.classes | join(' ')}}"}
            %a{href: "{{item.link}}"}
              {{item.title}}
        {% endfor %}

  .row.small-middle.zoomIn.animated
    %img{src: "{{site.theme.link}}/assets/img/jm-logo.svg"}
    {% if post.tagline %}
      %h2 {{post.tagline}}
    {% endif %}
