{% extends "base.twig" %}

{% block header %}

  %nav#standardnav.fadeInDown.animated
    .row{data-equalizer: "standardnav"}
      .small-3.medium-6.columns{data-equalizer-watch: "standardnav"}
        %a{href: "{{site.home}}"}
          %img{src:"{{site.theme.link}}/assets/img/jm-logo.svg"}
        %span
          DESIGNS
      .small-9.medium-6.columns{data-equalizer-watch: "standardnav"}
        %ul.menu
          {% for item in topnav.get_items %}
            %li{class: "{{item.classes | join(' ')}}"}
              %a{href: "{{item.link}}"}
                {{item.title}}
          {% endfor %}
{% endblock %}

{% block content %}
-# Contact Page ---------------------------------------------------------
{% if post.contact_title %}
  %section#contact-text.fadeInUp.animated
    .row.medium-8.centered.columns
      {% if post.contact_title %}
        %h2 {{post.contact_title}}
      {% endif %}
      {% if post.contact_text %}
        %p {{post.contact_text}}
      {% endif %}
{% endif %}

-# Form-----------------------------------------
{% if post.slug == 'contact' %}
  %section#contact-form.fadeInUp.animated
    .row
      .small-12.columnns
        %h3 Send me an email
        .h2line
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 772 5"><defs><style>.cls-1{fill:#ead975;opacity:0.53;}</style></defs><title>line-h2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_3" data-name="Layer 3"><rect class="cls-1" width="772" height="3" transform="translate(772 5) rotate(180)"/></g></g></svg>


        {% filter shortcodes %}
          [contact-form-7 id="62" title="Contact Me"]
        {% endfilter %}
{% endif %}

{% endblock %}
