{% extends "base.twig" %}

{% block header %}

  %nav#standardnav.fadeInDown.animated
    .row{data-equalizer: "standardnav"}
      .small-3.medium-4.columns{data-equalizer-watch: "standardnav"}
        %a{href: "{{site.home}}"}
          %img{src:"{{site.theme.link}}/assets/img/jm-logo.svg"}
        %span
          DESIGNS
      .small-9.medium-8.columns{data-equalizer-watch: "standardnav"}
        %ul.menu
          {% for item in topnav.get_items %}
            %li{class: "{{item.classes | join(' ')}}"}
              %a{href: "{{item.link}}"}
                {{item.title}}
          {% endfor %}
{% endblock %}

{% block content %}
-# About Page -------------------------------------------------------
{% if post.about_title %}
  %section#aboutme.fadeInUp.animated
    .row.medium-8.centered.columns
      .about-title
        {% if post.about_title %}
          %h2 {{post.about_title}}
        {% endif %}
        {% for item in post.get_field('about_text') %}
          %p {{item.text}}
        {% endfor %}
{% endif %}

  -# Technical skills section--------------------------------------------
  %section#aboutskills.fadeInUp.animated
    .row
      .medium-12.columns
        %h2 Technical Skills

      .h2line
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 772 5"><defs><style>.cls-1{fill:#ead975;opacity:0.53;}</style></defs><title>line-h2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_3" data-name="Layer 3"><rect class="cls-1" width="772" height="3" transform="translate(772 5) rotate(180)"/></g></g></svg>
    .row.medium-up-4
      {% for item in post.get_field('dials') %}
        .column
          .dials.wow.fadeInLeft
            %img{src:"{{TimberImage(item.image).src}}"}
            %h3{{item.title}}
      {% endfor %}

      .h2line
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 772 5"><defs><style>.cls-1{fill:#ead975;opacity:0.53;}</style></defs><title>line-h2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_3" data-name="Layer 3"><rect class="cls-1" width="772" height="3" transform="translate(772 5) rotate(180)"/></g></g></svg>

{% endblock %}
