{% extends "base.twig" %}

{% block content %}

-# About Page -------------------------------------------------------
{% if post.about_title %}
  %section#aboutme.fadeInUp.animated
    .row{data-equalizer: "about"}
      .large-5.columns{data-equalizer-watch: "about"}
        .medium-middle
          {% if post.about_image %}
            %img{src: "{{TimberImage(post.about_image)}}"}
          {% endif %}
      .large-7.columns{data-equalizer-watch: "about"}
          .about-title
            {% if post.about_title %}
              %h2 {{post.about_title}}
            {% endif %}
            {% for item in post.get_field('about_text') %}
              %p {{item.text}}
            {% endfor %}

  -# Technical skills section--------------------------------------------
  %section#aboutskills.fadeInUp.animated
    .row
      .medium-12.columns
        %h2 Technical Skills
    .row
      .medium-3.columns
        %img.hvr-grow{src: "{{site.theme.link}}/assets/img/50p.svg"}
        %h3 HTML/CSS
      .medium-3.columns
        %img.hvr-grow{src: "{{site.theme.link}}/assets/img/40p.svg"}
        %h3 WordPress
      .medium-3.columns
        %img.hvr-grow{src: "{{site.theme.link}}/assets/img/60p.svg"}
        %h3 Adobe PS/AI
      .medium-3.columns
        %img.hvr-grow{src: "{{site.theme.link}}/assets/img/50p.svg"}
        %h3 SolidWorks

{% endif %}

{% endblock %}
