{% extends "base.twig" %}

{% block content %}
-# %pre {{dump(post)}}

-# Contact Page ---------------------------------------------------------
{% if post.contact_title %}
  %section#contact-text
    .row{data-equalizer: "contact"}
      .medium-4.columns{data-equalizer-watch: "contact"}
        %a{href: "https://au.linkedin.com/in/jack-mahony-2aa9ba66", target:"_blank"}
          .contact-1
            %img{src: "{{site.theme.link}}/assets/img/linkedin-blue.svg"}
            %span
              Connect with me on LinkedIn
              %br
        %a{href: "https://dribbble.com/", target:"_blank"}
          .contact-2
            %img{src: "{{site.theme.link}}/assets/img/dribble-logo-black.svg"}
            %span
              Follow me on dribble
              %br
        -# %a{href: "mailto:jackmahonyy@gmail.com"}
        -#   %img.hvr-grow{src: "{{site.theme.link}}/assets/img/gmail.svg"}
        -#   %span.contact-3
        -#     Send me an email

      .medium-7.medium-1-offset.columns{data-equalizer-watch: "contact"}
        .medium-middle
          {% if post.contact_title %}
            %h3 {{post.contact_title}}
          {% endif %}
          {% if post.contact_text %}
            %p {{post.contact_text}}
          {% endif %}
{% endif %}

-# Form-----------------------------------------
{% if post.slug == 'contact' %}
  %section#contact-form
    .row
      .small-12.columnns
        %h3 Send me an email
        {% filter shortcodes %}
          [contact-form-7 id="153" title="Contact Me"]
        {% endfilter %}
{% endif %}

{% endblock %}
