{% extends "base.twig" %}

{% block content %}


{% endblock %}

-# Scripts---------------------------------------------------------------------
{% block script %}

  %script{src: "{{site.theme.link}}/bower_components/owl.carousel/dist/owl.carousel.min.js"}

  {% for project in projects %}
    -# Owl Slider
    :javascript
      $(document).ready(function() {
        $(".{{project.post_title|sanitize}}").owlCarousel({
          animateOut: 'fadeOut',
          lazyload: true,
          loop: true,
          items: 1,
          lazyLoad: true
        });
      });
  {% endfor %}
{% endblock %}
