{% extends "base.twig" %}

{% block content %}

  -# Portait Section ------------------------------------------------------
  {% if post.portrait_image %}
    %section#portrait.fadeInUp.animated{style: "background: url('{{ TimberImage(post.portrait_image) }}') top center no-repeat;"}
      .row
        .medium-3.columns
          .designer
            %h2.bounceInRight.animated {{post.designer_title}}
            %p.bounceInRight.animated {{post.designer_text}}
        .medium-3.large-offset-3.columns
          .coder
            %h2.bounceInRight.animated {{post.coder_title}}
            %p.bounceInRight.animated {{post.coder_text}}
  {% endif %}

  -# Projects temporary thumbs------------------------------------------------------------------------------------------------------------------------------
  {% if post.fat_orange_designs %}
    %section#tempprojects.fadeInUp.animated
      .row
        .medium-12.columns
          %h2 Some of my latest work
      .row
        .medium-6.columns
          {% if post.fat_orange_designs %}
            %a{href: "http://fatorangedesigns.com/", target:"_blank"}
              %img.hvr-grow{src: "{{TimberImage(post.fat_orange_designs).src|resize(600, 400)}}"}
          {% endif %}
        .medium-6.columns
          {% if post.six_two_two %}
            %a{href: "http://sixtwotwo.jack-mahony.com/", target:"_blank"}
              %img.hvr-grow{src: "{{TimberImage(post.six_two_two).src|resize(600, 400)}}"}
          {% endif %}
  {% endif %}


  -# Project thumbnails -----(HIDDEN)------------------------------------------------------
  -# {% if post.show_projects %}
  -#   %section#latestwork.bounceInUp.animated
  -#     .row
  -#       %h2.latest
  -#         Some Of My Latest Work
  -#
  -#
  -#     .row.medium-up-3{data-equalizer: "projects"}
  -#       {% for project in projects %}
  -#
  -#         .column.singleproject.bounceInUp.animated{data-equalizer-watch: "projects"}
  -#           .container.proj.hvr-grow
  -#             %a.project{href: "{{project.link}}"}
  -#               {% if project.project_hero_image %}
  -#                 %img.thumbnail{src: "{{TimberImage(project.project_hero_image)}}"}
  -#               {% endif %}
  -#               {% if project.project_title %}
  -#                 %h3 {{project.project_title}}
  -#               {% endif %}
  -#                 %img.hvr-forward{src: "{{site.theme.link}}/assets/img/right-arrow.svg"}
  -#       {% endfor %}
  -# {% endif %}

  -# Contact Page ---------------------------------------------------------
  {% if post.contact_title %}
    %section#contact-text.fadeInUp.animated
      .row{data-equalizer: "contact"}
        .medium-4.columns{data-equalizer-watch: "contact"}
          %a{href: "https://au.linkedin.com/in/jack-mahony-2aa9ba66", target:"_blank"}
            .contact-1.hvr-grow
              %img{src: "{{site.theme.link}}/assets/img/linkedin-blue.svg"}
              %span
                Connect with me on LinkedIn
                %br
          %a{href: "https://dribbble.com/", target:"_blank"}
            .contact-2.hvr-grow
              %img{src: "{{site.theme.link}}/assets/img/dribble-logo-black.svg"}
              %span
                Follow me on dribble
                %br
          -# %a{href: "mailto:jackmahonyy@gmail.com"}
          -#   %img.hvr-grow{src: "{{site.theme.link}}/assets/img/gmail.svg"}
          -#   %span.contact-3
          -#     Send me an email

        .medium-7.medium-1-offset.columns{data-equalizer-watch: "contact"}
          .medium-middle
            {% if post.contact_title %}
              %h3 {{post.contact_title}}
            {% endif %}
            {% if post.contact_text %}
              %p {{post.contact_text}}
            {% endif %}
  {% endif %}

  -# Form-----------------------------------------
  {% if post.slug == 'contact' %}
    %section#contact-form.fadeInUp.animated
      .row
        .small-12.columnns
          %h3 Send me an email
          {% filter shortcodes %}
            [contact-form-7 id="153" title="Contact Me"]
          {% endfilter %}
  {% endif %}

  -# About Page -------------------------------------------------------
  {% if post.about_title %}
    %section#aboutme.fadeInUp.animated
      .row{data-equalizer: "about"}
        .large-5.columns{data-equalizer-watch: "about"}
          .medium-middle
            {% if post.about_image %}
              %img{src: "{{TimberImage(post.about_image)}}"}
            {% endif %}
        .large-7.columns{data-equalizer-watch: "about"}
            .about-title
              {% if post.about_title %}
                %h2 {{post.about_title}}
              {% endif %}
              {% for item in post.get_field('about_text') %}
                %p {{item.text}}
              {% endfor %}

    -# Technical skills section--------------------------------------------
    %section#aboutskills.fadeInUp.animated
      .row
        .medium-12.columns
          %h2 Technical Skills
      .row
        .medium-3.columns
          %img.hvr-grow{src: "{{site.theme.link}}/assets/img/50p.svg"}
          %h3 HTML/CSS
        .medium-3.columns
          %img.hvr-grow{src: "{{site.theme.link}}/assets/img/40p.svg"}
          %h3 WordPress
        .medium-3.columns
          %img.hvr-grow{src: "{{site.theme.link}}/assets/img/60p.svg"}
          %h3 Adobe PS/AI
        .medium-3.columns
          %img.hvr-grow{src: "{{site.theme.link}}/assets/img/50p.svg"}
          %h3 SolidWorks

  {% endif %}

{% endblock %}

-# Scripts---------------------------------------------------------------------
{% block script %}

  %script{src: "{{site.theme.link}}/bower_components/owl.carousel/dist/owl.carousel.min.js"}

  {% for project in projects %}
    -# Owl Slider
    :javascript
      $(document).ready(function() {
        $(".{{project.post_title|sanitize}}").owlCarousel({
          animateOut: 'fadeOut',
          lazyload: true,
          loop: true,
          items: 1,
          lazyLoad: true
        });
      });
  {% endfor %}
{% endblock %}
