{% extends "base.twig" %}


{% block content %}

  %section#projects
    .row
      .medium-12.columns
        {% if post.project_title %}
          %h2 {{post.project_title}}
        {% endif %}

    .row
      .medium-10.columns
        {% for item in post.get_field('block_content') %}
          {% if item.acf_fc_layout == 'text_block' %}

            {% if item.heading_two %}
              %h2 {{item.heading_two}}
            {% endif %}

            {% if item.heading_three %}
              %h3 {{item.heading_three}}
            {% endif %}

            {% if item.body_text %}
              %p {{item.body_text}}
            {% endif %}

            %hr

          {% elseif item.acf_fc_layout == 'gallery_block' %}

            {% for image in item.gallery %}
              {% if image %}
                %img{src:"{{TimberImage(image)}}"}
              {% endif %}
            {% endfor %}

          {% endif %}
        {% endfor %}
{% endblock %}
