{% extends "base.twig" %}

{% block header %}

%nav#projnav{style: "background: url('{{ TimberImage(post.header_banner) }}') no-repeat top;"}
  .row.expanded.columns
    .homenav
      %ul.menu
        {% for item in topnav.get_items %}
          %li{class: "{{item.classes | join(' ')}}"}
            %a{href: "{{item.link}}"}
              {{item.title}}
        {% endfor %}
{% endblock %}

{% block content %}
  %section#projects
    {% for item in post.get_field('block_content') %}
      {% if item.acf_fc_layout == 'text_block' %}
        .row.medium-6.medium-centered.columns
          .textblock
            {% if item.heading_two %}
              %h2 {{item.heading_two}}
            {% endif %}

            {% if item.body_text %}
              %p {{item.body_text}}
            {% endif %}

      {% elseif item.acf_fc_layout == 'gallery_block' %}
        .galleryblock
          .row.medium-up-2
            {% for image in item.gallery %}
              .column
                {% if image %}
                  %img{src:"{{TimberImage(image)}}"}
                  %h4 {{image.caption}}
                {% endif %}
            {% endfor %}
      {% elseif item.acf_fc_layout == 'button' %}
        .row
          .medium-12.columns
            {% if item.website_link %}
              %a{href: "{{item.website_link}}"}
                .button.medium
                  %span Click to view site
            {% endif %}
              {% endif %}
    {% endfor %}
{% endblock %}
