// Footer

section#page-footer
  background-color: $black
  margin-top: 0
  padding: rem-calc(30)

  nav#footernav
    position: relative
    top: 0
    width: 100%
    text-align: center
    display: block

    .linkedin
      display: none

    .text-footer
      margin-top: 1rem
      display: block
      margin-left: 0

      +breakpoint(medium)
        display: inline-block
        margin-left: 1rem

      span,a
        color: $white

    .social-footer
      margin-bottom: 0.5rem
      padding-top: 0.5rem
      display: block

      +breakpoint(medium)
        display: inline-block

      a
        margin-left: 1rem

        img
          width: 50px
          padding-left:rem-calc(20)
