// Footer

section#page-footer
  background-color: $black
  margin-top: 0
  padding: rem-calc(30)

  nav#footernav
    position: relative
    top: 0
    width: 100%
    text-align: center
    // padding-top: rem-calc(20)
    span
      color: $white

    ul.menu
      display: inline-block

      a
        color: $white
        position: relative
        margin: 0
  .img
    display: inline-block
