nav#topnav
  position: relative
  top: 0
  width: 100%
  text-align: center
  padding-top: 0

  .social
    display: none

  .logo-jm
    display: inline-block

  ul.menu
    display: none

  +breakpoint(medium)
    ul.menu
      display: inline-block
      margin-top: rem-calc(10)

      a
        color: $white
        position: relative
        padding: rem-calc(10)

        &:after
          content: ''
          width: 75%
          height: 2px
          background-color: #00E7DC
          position: absolute
          bottom: 1px
          opacity: 0
          left: 12.5%
          transition: 200ms all

        &:hover
          opacity: 1
          transition: 0.7s
          color: #00E7DC

          &:after
            transition: 1.5s
            bottom: -5
            opacity: 1

      li.current_page_item a
        color: #00E7DC

        &::after
          bottom: 1px
          opacity: 1

    .logo-jm
      display: inline-block

    .social
      display: inline-block
      margin-top: rem-calc(10)


      .linkedin
        display: inline-block
        padding-right: rem-calc(20)
        text-align: left

      .github
        display: inline-block
        text-align: left
