section#page-header
  position: relative
  padding-top: rem-calc(10)
  padding-bottom: rem-calc(20)
  margin-top: 0
  height: 100%

nav#topnav
  z-index: 99
  position: relative
  text-align: center
  padding-top: 0
  padding-bottom: 350px
  background-size: cover !important
  height: 100vh


  .homenav
    z-index: 1
    background-color: ($black, 50%)
    padding-bottom: 1rem

  .homeimg
    height: 100vh


  svg
    max-width: 120px
    display: block
    margin-left: auto
    margin-right: auto

  h2
    display: block
    text-align: center
    color: $white
    margin-top: 1rem
    font-size: 32px

  .logo-jm
    display: inline-block

  ul.menu
    display: none

  +breakpoint(medium)
    ul.menu
      display: inline-block
      margin-top: rem-calc(10)

      a
        color: $white
        position: relative
        padding: rem-calc(10)

        &:after
          content: ''
          width: 75%
          height: 2px
          background-color: #00E7DC
          position: absolute
          bottom: 1px
          opacity: 0
          left: 12.5%
          transition: 200ms all

        &:hover
          opacity: 1
          transition: 0.7s
          color: #00E7DC

          &:after
            transition: 1.5s
            bottom: -5
            opacity: 1

      li.current_page_item a
        color: #00E7DC

        &::after
          bottom: 1px
          opacity: 1

    .logo-jm
      display: inline-block
